<p-panel header="Files - Read - {{fileId > 0 && isFileOk ? fileId : 'Not Found'}}">
  <form form="form">
    <p-card>
      <div class="card">
        @if (isFileOk && image) {
          <div class="columns-1 sm:columns-3 py-2">
            <div>
              <p class="text-sm text-gray-500 sm:text-right">
                Type: {{ imageType }}
              </p>
            </div>
            <div>
              <img [src]="[image]" loading="lazy" title="File" alt="File" class="w-full">
            </div>
            <div>
              <p class="text-sm text-gray-500 mt-2">
                Size: {{ imageSize }}
              </p>
              <a class="text-sm text-gray-200 mt-2"
                [href]="image"
                download="{{imageType}}-{{fileId}}"
                target="_blank"
                rel="noopener noreferrer">Download</a>
            </div>
          </div>
        }
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
        <p-toast></p-toast>
      </div>
    </p-card>
  </form>
</p-panel>

<app-message-modal
  [visible]="appService.process.isInProcess()"
  [message]="appService.process.message()">
</app-message-modal>
