<p-panel>
  <ng-template pTemplate="header">
    <div><span class="pi pi-hammer"></span>&nbsp;Miscelánea&nbsp;&mdash;&rsaquo;&nbsp;<span class="pi pi-gauge"></span>&nbsp;Verificador de Consumo de Agua (México, CdMx)</div>
  </ng-template>

  <ng-template pTemplate="icons">
    <div>
      <button type="button" pButton (click)="onPrint()" title="Print" class="p-button-outlined p-button-success">
        <em class="pi pi-print"></em>
      </button>
    </div>
  </ng-template>

  <ng-template  pTemplate="body">
    <p-divider></p-divider>
    <div id="htmlContent">
      <!-- Problem -->
      <div class="grid grid-cols-1 md:grid-cols-10">
        <div></div>
        <div class="md:col-span-8">
          <p-card>
            <ng-template pTemplate="header">
              <p class="font-semibold text-2xl"><span class="pi pi-arrows-alt"></span>&nbsp;Problema</p>
              <p-divider></p-divider>
            </ng-template>

            <!--
            consumo<span AppSuperText>Bimestre</span>
            número<span AppAppSubText>Días</span>
            número<span AppAppSubText>DíasCobrado</span>
            -->

            <ng-template pTemplate="body">
              <p>
                Debido a las recurrentes quejas de los habitantes de la Ciudad de México por los inexplicables montos que se pagan cada bimestre por el consumo del agua potable, decidimos realizar unos cálculos básicos de verificación.<br />
                <br />
                Después de analizar diversos recibos de agua potable, podemos plantear como hipótesis que el gobierno utiliza los siguientes pasos para calcular el monto a pagar por el consumo del agua potable:<br />
                <br />
                1) Se calcula el consumo del bimestre como la diferencia entre las lecturas actual y anterior.<br />
                <br />consumo<span textSub>Bimestre</span> = lectura<span textSub>Actual</span> - lectura<span textSub>Anterior</span><br />
                <br />
                2) Se calcula el número de días de consumo como la diferencia entre las fechas actual y anterior.<br />
                <br />número<span textSub>Días</span> = fecha<span textSub>Actual</span> - fecha<span textSub>Anterior</span><br />
                <br />
                3) Se calcula el promedio diario de consumo como el consumo del bimestre entre el número de días de consumo.<br />
                <br />promedio<span textSub>Diario</span> = consumo<span textSub>Bimestre</span> / número<span textSub>Días</span><br />
                <br />
                De acuerdo a nuestros cálculos de verificación, el promedio diario y el número de días de consumo son datos obtenidos correctamente.<br />
                <br />
                Sin embargo, ese no siempre es el caso para el consumo del bimestre. ¿Por qué? Porque el gobierno hace un recálculo de dicho concepto, como lo veremos más adelante.<br />
                <br />
                El promedio diario tiene gran importancia porque a partir de este valor el gobierno realizará el recálculo del consumo bimestral de agua que será el que finalmente se cobrará y aparecerá impreso en el recibo.<br />
                <br />
                De acuerdo a nuestros cálculos y análisis, el gobierno realiza dicho recálculo mediante la siguiente fórmula:<br />
                <br />
                consumo<span textSub>Bimestre</span> = promedio<span textSub>Diario</span> * número<span textSub>Días por Cobrar</span><br />
                <br />
                Donde número<span textSub>Días por Cobrar</span> tiende a tener un valor de 60 días.<br />
                <br />
                Si número<span textSub>Días</span> es menor a 60 días, entonces el gobierno realiza un "ajuste" para alcanzar número<span textSub>DíasPorCobrar</span> = 60 días.<br />
                <br />
                Si número<span textSub>Días</span> es mayor a 60 días, entonces el gobierno no realiza ningún tipo de "ajuste" para sujetarse a número<span textSub>DíasPorCobrar</span> = 60 días.<br />
                <br />
                Esa consideración genera que el número de días cobrados por el gobierno se convierta realmente en un valor arbitrario cada bimestre, porque provoca que el monto a pagar por el consumo del agua potable no siempre guarde una correspondencia exacta con el consumo real del bimestre. Y esto, a su vez, genera confusión en el consumidor, y hasta se puede afirmar que los datos impresos pueden llegar a ser falsos, al no corresponder ni a la realidad ni a los propios montos del mismo recibo. Es decir, el recibo puede llegar a tener cifras incoherentes.<br />
                <br />
                Es entendible el propósito de cobrar 60 días por bimestre, pero eso genera confusión y cobros inexactos, que pueden afectar las finanzas del consumidor y del propio gobierno.<br />
                <br />
                Para el momento actual en el que se alardea de mucha "ciencia", "transparencia", "eficiencia", resulta absurdo que se presenten este tipo de anomalías. Debería cobrarse el consumo real, sin mayores consideraciones absurdas, como la de hacer tender el número de días cobrados a exactamente 60 días.<br />
                <br />
                Por nuestra parte, tenemos a la mano muchos recibos del agua que confirman nuestra hipótesis.<br />
                <br />
                Pero es mejor que cada quien verifique su recibo y que entonces saque sus propias conclusiones.
              </p>
            </ng-template>

            <ng-template pTemplate="footer">
              <p-divider></p-divider>
            </ng-template>
          </p-card>
        </div>
        <div></div>
      </div>

      <!-- Data -->
      <div class="grid grid-cols-1 md:grid-cols-10">
        <div></div>
        <div class="md:col-span-8">
          <p-card>
            <ng-template pTemplate="header">
              <p class="font-semibold text-2xl"><span class="pi pi-copy"></span>&nbsp;Datos</p>
              <p-divider></p-divider>
            </ng-template>

            <ng-template pTemplate="body">
              <form [formGroup]="form">
                <p-fieldset legend="Recibo">
                  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <div>
                      <label pLabel for="previousReading">Lectura Anterior m³</label>
                      <p-inputnumber inputid="previousReading" [formControl]="controls.previousReading" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="0" class="w-full" />
                    </div>
                    <div>
                      <label pLabel for="previousDate">Fecha Anterior</label>
                      <p-datepicker inputId="previousDate" [formControl]="controls.previousDate" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" pInputMask="dd/mm/yyyy" class="w-full" />
                    </div>
                    <div>
                      <label pLabel for="currentReading">Lectura Actual m³</label>
                      <p-inputnumber inputid="currentReading" [formControl]="controls.currentReading" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="0" class="w-full" />
                    </div>
                    <div>
                      <label pLabel for="currentDate">Fecha Actual</label>
                      <p-datepicker inputId="currentDate" [formControl]="controls.currentDate" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" pInputMask="dd/mm/yyyy" class="w-full" />
                    </div>
                  </div>

                  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <div>
                      <label pLabel for="days">Número de Días</label>
                      <p-inputnumber inputid="days" [formControl]="controls.days" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="0" class="w-full" />
                    </div>
                    <div>
                      <label pLabel for="dailyAverage">Promedio Diario m³</label>
                      <p-inputnumber inputid="dailyAverage" [formControl]="controls.dailyAverage" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" class="w-full" />
                    </div>
                    <div>
                      <label pLabel for="bimonthlyConsumption">Consumo del Bimestre m³</label>
                      <p-inputnumber inputid="bimonthlyConsumption" [formControl]="controls.bimonthlyConsumption" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" class="w-full" />
                    </div>
                    <div>
                      <br />
                      <button pButton type="button" label="Calcular" title="Calcular" [disabled]="form.invalid" (click)="onCalculate()" class="p-button-outlined p-button-info w-full"></button>
                    </div>
                  </div>
                </p-fieldset>
              </form>
            </ng-template>

            <ng-template pTemplate="footer">
              <p-divider></p-divider>
            </ng-template>
          </p-card>
        </div>
        <div></div>
      </div>

      <!-- Solution -->
      <div class="grid grid-cols-1 md:grid-cols-10">
        <div></div>
        <div class="md:col-span-8">
          <p-card>
            <ng-template pTemplate="header">
              <p class="font-semibold text-2xl"><span class="pi pi-check-circle"></span>&nbsp;Solución</p>
              <p-divider></p-divider>
            </ng-template>

            <ng-template pTemplate="body">
              <!-- Basic calculations -->
              <div class="grid grid-cols-1">
                @if (days !== 0 && dailyAverage !== 0 && bimonthlyConsumption !== 0) {
                  <table>
                    <thead>
                      <tr>
                        <th colspan="4" class="text-lg">
                          Cálculos Básicos
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center">
                        <td class="width-10">Referencia</td>
                        <td class="width-30">
                          Consumo del Bimestre m³<br />
                          <span class="text-xs">
                            consumo<span textSub>Bimestre</span> = lectura<span textSub>Actual</span> - lectura<span textSub>Anterior</span>
                          </span>
                        </td>
                        <td class="width-30">
                          Número de Días<br />
                          <span class="text-xs">
                            número<span textSub>Días</span> = fecha<span textSub>Actual</span> - fecha<span textSub>Anterior</span>
                          </span>
                        </td>
                        <td class="width-30">
                          Promedio Diario m³<br />
                          <span class="text-xs">
                            promedio<span textSub>Diario</span> = consumo<span textSub>Bimestre</span> / número<span textSub>Días</span>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>Recibo</td>
                        <td class="text-right">{{ controls.bimonthlyConsumption.value }}</td>
                        <td class="text-right">{{ controls.days.value }}</td>
                        <td class="text-right">{{ controls.dailyAverage.value }}</td>
                      </tr>
                      <tr>
                        <td>Cálculo</td>
                        <td class="text-right">{{ bimonthlyConsumption | number: '1.2-2' }}</td>
                        <td class="text-right">{{ days }}</td>
                        <td class="text-right">{{ dailyAverage | number: '1.2-2' }}</td>
                      </tr>
                      <tr>
                        <td>Diferencia</td>
                        <td class="text-right">
                          <p [ngClass]="{'color-green': isBimonthlyConsumptionValid, 'color-red': !isBimonthlyConsumptionValid}">
                            @if (isBimonthlyConsumptionValid) {
                              <span class="pi pi-check-circle"></span>
                            } @else {
                              <span class="pi pi-times-circle"></span>
                            }
                            &nbsp;{{ controls.bimonthlyConsumption.value - bimonthlyConsumption | number: '1.2-2' }}
                          </p>
                        </td>
                        <td class="text-right">
                          <p [ngClass]="{'color-green': areDaysValid, 'color-red': !areDaysValid}">
                            @if (areDaysValid) {
                              <span class="pi pi-check-circle"></span>
                            } @else {
                              <span class="pi pi-times-circle"></span>
                            }
                            &nbsp;{{ controls.days.value - days }}
                          </p>
                        </td>
                        <td class="text-right">
                          <p [ngClass]="{'color-green': isDailyAverageValid, 'color-red': !isDailyAverageValid}">
                            @if (isDailyAverageValid) {
                              <span class="pi pi-check-circle"></span>
                            } @else {
                              <span class="pi pi-times-circle"></span>
                            }
                            &nbsp;{{ controls.dailyAverage.value - dailyAverage | number: '1.2-2' }}
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                }
              </div>

              <br />

              <!-- Aclaration calculations -->
              <div class="grid grid-cols-1">
                @if (days !== 0 && dailyAverage !== 0 && bimonthlyConsumption !== 0 && (!isBimonthlyConsumptionValid || !areDaysValid || !isDailyAverageValid)) {
                  <table>
                    <thead>
                      <tr>
                        <th colspan="5" class="text-lg">Recálculo de Consumo Bimestral</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-lg text-center">
                        <td colspan="3" class="width-60">Recibo</td>
                        <td colspan="2" class="width-20">Recálculo</td>
                      </tr>
                      <tr class="text-center">
                        <td class="width-20">
                          Consumo del Bimestre m³<br />
                          <span class="text-xs">
                            consumo<span textSub>Bimestre</span>
                          </span>
                        </td>
                        <td class="width-20">
                          Promedio Diario m³<br />
                          <span class="text-xs">
                            promedio<span textSub>Diario</span>
                          </span>
                        </td>
                        <td class="width-20">
                          Número de Días<br />
                          <span class="text-xs">
                            número<span textSub>Días</span>
                          </span>
                        </td>
                        <td class="width-20">
                          Número de Días por Cobrar<br />
                          <span class="text-xs">
                            número<span textSub>Días por Cobrar</span> = <br />
                            consumo<span textSub>Bimestre</span> / promedio<span textSub>Diario</span>
                          </span>
                        </td>
                        <td class="width-20">
                          Diferencia de Días<br />
                          <span class="text-xs">
                            diferencia<span textSub>Días</span> = <br />
                            número<span textSub>Días por Cobrar</span> - número<span textSub>Días</span>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-right">{{ controls.bimonthlyConsumption.value }}</td>
                        <td class="text-right">{{ controls.dailyAverage.value }}</td>
                        <td class="text-right">{{ controls.days.value }}</td>
                        <td class="text-right">
                          <p [ngClass]="{'color-green': isBimonthlyConsumptionValid, 'color-red': !isBimonthlyConsumptionValid}">
                            @if (areDaysChargedValid) {
                              <span class="pi pi-check-circle"></span>
                            } @else {
                              <span class="pi pi-times-circle"></span>
                            }
                            &nbsp;{{ daysCharged }}
                          </p>
                        </td>
                        <td class="text-right">
                          <p [ngClass]="{'color-green': isBimonthlyConsumptionValid, 'color-red': !isBimonthlyConsumptionValid}">
                            @if (areDaysChargedValid) {
                              <span class="pi pi-check-circle"></span>
                            } @else {
                              <span class="pi pi-times-circle"></span>
                            }
                            &nbsp;{{ daysCharged - controls.days.value }}
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                }
              </div>

              <br />

              <div class="grid grid-cols-1">
                @if (days !== 0 && dailyAverage !== 0 && bimonthlyConsumption !== 0) {
                  <p>
                    <span class="font-semibold">Observaciones:</span><br /><br />
                    1) Las diferencias con valor a cero implican que el recibo es correcto, con cálculos exactos.<br />
                    2) Las diferencias positivas implican cobros excesivos por parte del gobierno, mientras que las negativas conllevan cobros incompletos, menores a los cálculos correctos.
                  </p>
                }
              </div>
            </ng-template>

            <ng-template pTemplate="footer">
              <p-divider></p-divider>
            </ng-template>
          </p-card>
        </div>
        <div></div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="grid grid-cols-1 md:grid-cols-10">
      <div></div>
      <div class="md:col-span-8">
        <p-card>
          <ng-template pTemplate="header">
            <p class="font-semibold text-2xl"><span class="pi pi-paperclip"></span>&nbsp;Referencias</p>
            <p-divider></p-divider>
          </ng-template>

          <ng-template pTemplate="body">
            <div>
              <p>
                Análisis pormenorizado de diversos recibos de agua potable en la Ciudad de México, con el objetivo de verificar la exactitud de los cálculos realizados por el gobierno.<br />
                México, Ciudad de México. 2026.
              </p>
            </div>
          </ng-template>

          <ng-template pTemplate="footer">
            <p-divider></p-divider>
          </ng-template>
        </p-card>
      </div>
      <div></div>
    </div>
  </ng-template>

  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
  <p-toast></p-toast>
</p-panel>

<app-message-modal
  [visible]="appService.process.isInProcess()"
  [message]="appService.process.message()">
</app-message-modal>
