<p-panel header="Daily - Read">
  <form form="form">
    <div class="grid">
      <div class="col-12 md:col-10">
        <label for="remark">&nbsp;Remark</label>
        <p-editor inputId="remark"
          [formControl]="controls.remark"
          class="w-full">
        </p-editor>
      </div>

      <div class="col-12 md:col-1">
        <label for="isActive">&nbsp;Is Active?</label>
        <p-select inputId="isActive"
          readonly="true"
          [options]="activeOptions"
          [formControl]="controls.isActive"
          optionLabel="label" optionValue="value" optionDisabled="inactive"
          class="w-full">
        </p-select>
      </div>

      <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
      <p-toast></p-toast>
    </div>
  </form>
</p-panel>

<app-message-modal
  [visible]="appService.process.isInProcess"
  [message]="appService.process.message">
</app-message-modal>
