<p-panel header="Mantenimiento">
  <form form="form">
    <p-card>
      <div class="row-auto">
        <div class="columns-1 sm:columns-3">
          <!-- Filters -->
          <div>
            <div>
              <label for="categoryId">&nbsp;Categoría</label>
              <p-select inputId="categoryId"
                [options]="categories" [formControl]="controls.categoryId"
                optionLabel="label" optionValue="value" optionDisabled="inactive"
                (onChange)="onChangeCategory()"
                class="w-full">
              </p-select>
            </div>
            <div>
              <label for="subcategoryId">&nbsp;Subcategoría</label>
              <p-select inputId="subcategoryId"
                [options]="subcategories" [formControl]="controls.subcategoryId"
                optionLabel="label" optionValue="value" optionDisabled="inactive"
                (onChange)="onChangeSubcategory()"
                class="w-full">
              </p-select>
            </div>
            <div>
              <label for="projectId">&nbsp;Projecto</label>
              <p-select inputId="projectId"
                [options]="projects" [formControl]="controls.projectId"
                optionLabel="label" optionValue="value" optionDisabled="inactive"
                (onChange)="onChangeProject()"
                class="w-full">
              </p-select>
            </div>
          </div>
          <div>
            <div>
              <div class="py-2">
                @if (isFileOk && image) {
                  <img [src]="[image]"
                    loading="lazy"
                    title="File"
                    alt="File"
                    class="w-full">
                } @else {
                  <img src="/images/logos/image-not-available-22798609-2160697675.jpg"
                    loading="lazy"
                    title="File"
                    alt="File"
                    class="w-full">
                }
              </div>
            </div>
          </div>
          <div>
            <div class="py-2">
              <div>
                <label for="description">&nbsp;Notas</label>
                <textarea inputId="description"
                  [formControl]="controls.description"
                  title="Descripción de la foto"
                  rows="auto"
                  max-rows="12"
                  [readonly]="true"
                  class="w-full">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row-auto">
        @if (photos.length > 0 && photo) {
          <div class="columns-1">
          </div>
          <div class="columns-3 py-3">
            <div class="text-right">
              <button type="button"
                title="Go to first"
                [disabled]="index <= 0"
                (click)="onClickFirst()"
                pButton
                icon="pi pi-step-backward-alt"
                class="p-button-outlined p-button-info">
              </button>
              <button type="button"
                title="Go to previous"
                [disabled]="index <= 0"
                (click)="onClickPrevious()"
                pButton
                icon="pi pi-backward"
                class="p-button-outlined p-button-info">
              </button>
            </div>
            <div>
              <input type="text" inputId="photoIndex" placeholder="n/m" disabled [value]="indexPosition" pInputText class="w-full text-center" />
            </div>
            <div>
              <button
                type="button"
                title="Go to next"
                [disabled]="index >= (photos.length - 1)"
                (click)="onClickNext()"
                pButton
                icon="pi pi-forward"
                class="p-button-outlined p-button-info">
              </button>
              <button
                type="button"
                title="Go to last"
                [disabled]="index >= (photos.length - 1)"
                (click)="onClickLast()"
                pButton
                icon="pi pi-step-forward-alt"
                class="p-button-outlined p-button-info">
              </button>
            </div>
          </div>
        }
      </div>

      <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
      <p-toast></p-toast>
    </p-card>
  </form>
</p-panel>

<app-message-modal
  [visible]="appService.process.isInProcess()"
  [message]="appService.process.message()">
</app-message-modal>
